/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {

    .main_menu ul {
        display: none;
    }

    .search_header {
        display: none;
    }

    /*
    .header_topline {
        display: none;
        font-weight: bold;
    }
    */

    .sidebar_my {
        display: none;
    }

    .main_menu ul {
        display: none;
        background: #f2f2f2;
        margin-top: 10px;
        padding: 0;
        background: #f4f4f4;
    }

    .main_menu ul li {
        position: relative;
        width: 100%;
        float: right;
        padding: 0;
        display: block;
    }

    .main_menu ul li a {
        border-bottom: 1px solid rgba(175, 168, 246, 0.1);
    }

    .main_menu li {
        display: block;
    }

    .main_menu a {
        padding: 10px 20px;
        color: #828282;
    }

    .main_menu a:hover {
        background: #E7E7E7;
    }

    .main_menu .sub_menu,
    .main_menu .sub-menu {
        position: relative;
        float: right;
        width: 100%;
        display: block !important;
        box-shadow: none;
        background: none;
        margin: 0;
        padding: 0;
        padding-left: 30px;
    }

    .main_menu .sub_menu li,
    .main_menu .sub-menu li {
        width: 100%;
        border: 0;
        padding: 0;
    }

    .main_menu .sub_menu li a,
    .main_menu .sub-menu li a {
        color: #828282;
    }

    .footer_my h4,
    .footer_my p,
    .contacts_footer,
    .pomosh_footer {
        text-align: center;
    }

    .footer_my h4 {
        padding-top: 30px;
    }

    .soc_footer_box {
        text-align: center;
        padding-left: 0px;
    }

    .social_footer h4 {

    }

    .footer_my {
        padding: 0px;
    }
}

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
    .uslugy img {
        display: none;
    }

    .uslugy_wrapper {
        padding-left: 0px;
    }

    .up_button {
        display: none;
    }
}



/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
    .headhesive--stick {
        display: none;
    }
}

/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {

}

/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width: 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width: 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {

    /*//Мега-меню и мобайл меню//Кнопка Button к мобайл меню
    .toggle-mnu {
        display: none;
    }

    .toggle-mnu, #mobile-menu, html.mm-blocking #mm-blocker {
        display: none;
        opacity: 0 !important;
    }

    html.mm-opening .mm-slideout {
        transform: translate(0px, 0px);
    }
    */
    .main_menu ul {
        display: block !important;
    }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {

}